@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    margin: 10px;
    transition: flex 1s ease-in;
}

.panel h2 {
    position: absolute;
    bottom: 25px;
    left: 25px;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.5s;
}

.panel.active{
    flex: 5;
}

.panel.active h2{
    opacity: 1;
}

@media(max-width:480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}