@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  background-color: #7bdaf3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
}

.add{
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #9ec862;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.note{
  background-color: white;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 400px;
  width: 400px;
}

.tools{
  background-color: #9ec862;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.tools button{
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.note textarea{
  outline: none;
  font-size: 1.2rem;
  height: 400px;
  width: 100%;
  padding: 20px;
  border: none;
  resize: none;
}

.note .main{
  padding: 20px;
}

.hidden{
  display: none;
}