@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h4{
  text-transform: uppercase;
  font-size: 20px;
}

.counter{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.counter.hide{
  transform: translate(-50%,-50%) scale(0);
  animation: hide .2s ease-out;
}

.final{
  position: fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0); 
  text-align: center;
}

.final.show{
  transform: translate(-50%,-50%) scale(1);
  animation: show .2s ease-out;
}

@keyframes hide {
  0%{
    transform: translate(-50%,-50%) scale(1);
  }
  100%{
    transform: translate(-50%,-50%) scale(0);
  }
}

@keyframes show {
  0%{
    transform: translate(-50%,-50%) scale(0);
  }
  30%{
    transform: translate(-50%,-50%) scale(1.5);
  }
  100%{
    transform: translate(-50%,-50%) scale(1);
  }
}

.nums{
  color:#3498db;
  font-size: 50px;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 50px;
}

.nums span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(120deg);
  transform-origin: bottom center;
}

.nums span.in{
  transform: translate(-50%,-50%) rotate(0deg);
  animation: IN 0.5s ease-in-out;
}

.nums span.out{
  animation: OUT 0.5s ease-in-out;
}

@keyframes IN {
  0%{
    transform: translate(-50%,-50%) rotate(120deg);
  }
  33%{
    transform: translate(-50%,-50%) rotate(-20deg);
  }
  66%{
    transform: translate(-50%,-50%) rotate(20deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
}

@keyframes OUT {
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  33%{
    transform: translate(-50%,-50%) rotate(20deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(-120deg);
  }
}
